.fondo-login{
    background-color: rgb(225, 206, 235);
}

.btn-login-color{
    background-color: rgb(69, 45, 82 );
}

body{
    background-color: rgb(236, 230, 240);
}

/* .container{
    padding-top:8rem;
} */