<body>
    <div class="row">
        <div class="col-1">
            <button type="button" class="btn border-0 ps-5 pt-5" routerLink="/iniciosesion">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                  </svg>
            </button>
          </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="fondo-login col-lg-6 col-md-8 col-sm-12 rounded-4 mx-auto my-auto">
                <h2 class="fe-bold text-center mb-4 pt-3 fw-bold">Registrate</h2>
                <!-- Login -->
                <form action="#" class="fw-semibold formularioLogin" [formGroup]="formularioLoginForm" (ngSubmit)="iniciarSesion()">
                    <div class="mb-4">
                        <label for="email" class="form-label">Correo electronico</label>
                        <input type="email" class="form-control" formControlName="email" placeholder="Ejemplo@gmail.com">
                    </div>
                    <div class="mb-4">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" formControlName="password" placeholder="Contraseña">
                    </div>
                    <div class="mb-2 pb-1">
                        <label for="password" class="form-label">Repita contraseña</label>
                        <input type="password" class="form-control" formControlName="password2" placeholder="Contraseña">
                    </div>
                    <div class="pt-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label mb-4" for="exampleCheck1">He leído y acepto los Términos y Condiciones y la
                            Política de Seguridad y Privacidad de WeFood</label>
                    </div>
                    <div class="d-grid pb-4">
                        <button class="w-100 btn btn-lg btn-login-color text-white" type="submit">Crear cuenta</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
