.fondo-login{
    background-color: white;
}

.btn-login-color {
    background-color: rgb(124, 66, 155);
}

.btn-login-color:hover {
    background-color: rgb(58, 13, 79);
}

body{
    background-color: rgb(236, 230, 240);
}

