/* COLORES LOGO */
$color-mi: #8861FF;
$color-nnu: #CC6CCD;

nav {
    background-color: rgb(162, 134, 236 );
}



#logo-minnu {
    text-decoration: none;
}

#mi {
    color: $color-mi;
}

#nnu {
    color: $color-nnu;
}

