/* Colores principales */
$color-morado: #8861FF;
$color-rosado: #CC6CCD;
$nav-color: #a890ec;

nav {
    background-color: $nav-color;
}

#logo-minnu {
    text-decoration: none;
}

#mi {
    color: $color-morado;
}

#nnu {
    color: $color-rosado;
}

/* .nav-item{
    background-color: $color-morado;
} */

h4{
    color: white
}

