<header>
  <nav class="navbar navbar-expand-lg ps-5">
    <div class="container-fluid fw-bold">
      <!-- LOGO MINNU -->
      <a href="/inicio" class="bg-light border border-1 rounded-4 d-flex px-3 " id="logo-minnu">
        <h1 id="mi" class="fw-bold">Mi</h1>
        <h1 id="nnu" class="fw-bold">nnu</h1>
      </a>

      <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- LISTA DE ICONOS DE LA DERECHA -->
      <div class="collapse navbar-collapse" id="navbarNav" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav ms-auto">
          <!-- REGIMENES --> 
          <li class="nav-item mx-1 rounded-4">
            <a class="nav-link" routerLink="/regimenes">
              <h4>Regimenes</h4>
            </a>
          </li>
          <!-- RECETAS -->
          <li class="nav-item mx-1 rounded-4">
            <a class="nav-link" routerLink="/recetas">
              <h4>Recetas</h4>
            </a>
          </li>
          <!-- LOGOUT -->
          <li class="nav-item mx-1 rounded-4">
            <a class="nav-link" routerLink="/iniciosesion">
              <img src="../../assets/images/iconos/logout.png" width="30" height="30" class="d-inline-block align-top" title="Cerrar sesion">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

