<app-header></app-header>
<body>
  <div class="container">
    <!-- MINUTAS E INSUMOS -->
    <div class="row ">
      <!-- COLUMNA MINUTAS -->
      <div class="col text-center">
        <!-- CAJA DE MINUTAS -->
        <div class="container mt-4 alto-100 border border-1 rounded-4 shadow color-container">
          <div class="row my-4">
            <div class="col-6" align="end">
              <span class=" h2 mb-3">Minutas</span>
            </div>
            <div class="col-6">

              <form class="d-flex ps-5 pe-5" role="search">
                <!-- input buscador -->
                <input class="form-control me-2 border border-dark" type="search" placeholder=""
                       aria-label="Search">

                <!-- boton buscar -->
                <button class="btn btn-outline-black border border-dark me-2" type="submit">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="bi bi-search" viewBox="0 0 16 16">
                    <path
                      d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg>
                </button>

                <!-- boton agregar -->
                <button class="btn btn-outline-black border border-dark me-2" type="button" (click)="openRegistroModal()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                  </svg>
                </button>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let minuta of minutas">
              <div class="card p-3 mb-3 ph-100 mt-4">
                <div class="card-details">
                  <p class="text-title">{{minuta.nombreMinuta}}</p>
                </div>
                <button class="card-button color-button" (click)="openFormModalMinuta()">Ver detalles</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- COLUMNA INSUMOS -->
      <div class="col-lg-4 col-md-4 col-sm-12">
        <!-- Cajita de insumos -->
        <div class="container alto-100 mt-4 border border-1 rounded-4 shadow color-container">
          <div class="col-12">
            <h2 class="text-center">Insumos</h2>
          </div>
          <!-- Buscador -->
          <div class="row">
            <!-- INPUT Y LUPA -->
            <div class="col-12" align="center">
              <form class="d-flex" role="search">
                <!-- input buscador -->
                <input class="form-control me-2 border border-dark" type="search" placeholder=""
                       aria-label="Search">
                <!-- boton buscar -->
                <button class="btn btn-outline-black border border-dark me-2" type="submit">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="bi bi-search" viewBox="0 0 16 16">
                    <path
                      d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg>
                </button>
                <!-- boton agregar -->
                <button *ngIf="esAdmin()" class="btn btn-outline-black border border-dark me-2" type="button"
                        (click)="openFormModalInsumo()" >
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                  </svg>
                </button>
              </form>
            </div>
          </div>
          <hr>

          <!-- LISTA DE RESULTADOS -->
          <div class="row">
            <div class="col mb-3 ">
              <div class="row" *ngFor="let insumo of insumos">

                <div class="col">
                  <h4>{{insumo.nombre}}</h4>
                </div>
                <div class="col">
                  <div class="d-flex flex-row-reverse">
<!--                    EDITAR-->
                    <button
                      *ngIf="esAdmin()"
                      (click)="eliminarInsumo(insumo.id)"
                      class="btn btn-delete-color btn-sm rounded-3 fa fa-trash mx-2"
                      type="button"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Delete">
                      <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                      </svg>
                    </button>
<!--                    BORRAR-->
                    <button
                      *ngIf="esAdmin()"
                      (click)="abrirModalEditarInsumo(insumo.nombre,insumo.gramos,insumo.id)"
                      class="btn btn-edit-color btn-sm rounded-3 fa fa-edit"
                      type="button" data-toggle="tooltip"
                      data-placement="top" title="Edit">
                      <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<!-- MINUTAS -->

<!-- VER DETALLES MINUTA -->
<div
  class="modal fade"
  id="minutaModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ver Detalles</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <h3>Menus:</h3>
            <ul>
              <li>Liquido</li>
              <li>Hiposodico</li>
              <li>Vegetariano</li>
              <li>Comun</li>
            </ul>
          </div>
          <div class="col">
            <h3>Agendada para:</h3>
            <li>Día 3 de quincenas</li>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button type="button" class="btn btn-primary" (click)="saveSomeThing()">
          Guardar cambios
        </button>
      </div>
    </div>
  </div>
</div>

<!-- AGREGAR MINUTA -->
<div
  class="modal fade"
  id="modalRegistroMinuta"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">Ingrese los datos</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="cancelarRegistro()"
        ></button>
      </div>
      <div class="modal-body">
        <h3>Campos para ingresar datos aqui</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cancelarRegistro()">
          Cancelar
        </button>
        <button type="button" class="btn btn-primary" (click)="guardarCambiosRegistro()">
          Guardar Cambios
        </button>
      </div>
    </div>
  </div>
</div>

<!-- INSUMOS -->

<!-- AGREGAR INSUMO -->
<div
  class="modal fade"
  id="insumoModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="cancelarRegistroInsumo()"
        ></button>
      </div>
      <div class="modal-body">
        <!-- FORMULARIO PARA REGISTRAR INSUMO -->
        <form class="fw-semibold formularioLogin" [formGroup]="formRegistroInsumo">
          <!-- NOMBRE -->
          <div class="mb-4 form-group">
            <label class="form-label">Nombre</label>
            <span
              *ngIf="formRegistroInsumo.controls['nombreInsumo'].invalid && (formRegistroInsumo.controls['nombreInsumo'].dirty || formRegistroInsumo.controls['nombreInsumo'].touched)"
              class="alert">
                    <small class="mensajeError"
                           *ngIf="formRegistroInsumo.controls['nombreInsumo'].errors?.['required']">
                      * Ingrese su nombre.
                    </small>
                    <small class="mensajeError" *ngIf="formRegistroInsumo.controls['nombreInsumo'].errors?.['pattern']">
                      * Supero el maximo de 10 caracteres.
                    </small>
                </span>
            <input type="nombreInsumo" class="form-control" formControlName="nombreInsumo" placeholder="Nombre insumo">
          </div>

          <!-- GRAMOS -->
          <div class="mb-4 form-group">
            <label class="form-label">Gramos</label>
            <span
              *ngIf="formRegistroInsumo.controls['gramos'].invalid && (formRegistroInsumo.controls['gramos'].dirty || formRegistroInsumo.controls['gramos'].touched)"
              class="alert">
                    <small class="mensajeError" *ngIf="formRegistroInsumo.controls['gramos'].errors?.['gramos']">
                      * Ingrese su nombre.
                    </small>
                    <small class="mensajeError" *ngIf="formRegistroInsumo.controls['gramos'].errors?.['pattern']">
                      * Supero el maximo de 10 caracteres.
                    </small>
                </span>
            <input type="gramos" class="form-control" formControlName="gramos" placeholder="Gramos">
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="guardarCambios()" [disabled]="!formRegistroInsumo.valid">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>

