$delete-color: #b2334d;
$edit-color: #93b966;

.btn-delete-color{
  background-color: $delete-color;
}

.btn-edit-color{
  background-color: $edit-color;
}

.btn-delete-color:hover{
  transform: translate(-3%, 3%);
  background-color: $delete-color;
}

.btn-edit-color:hover{
  transform: translate(-3%, 3%);
  background-color: $edit-color;
}

