<app-header></app-header>

<main class="container-fluid mt-4">
    <!-- COLUMNA MINUTAS, COLUMNA INSUMOS -->
    <div class="row">
        <!-- Columna izquierda -->
        <div class="col-lg-8 mb-3">
            <div class="container w-100">
                <div class="row">
                    <div class="col alto-100 d-inline-block border border-dark m-2 bg-secondary">
                        <h2 class="text-center">Minutas</h2>
                        <hr>
                        <!-- Visualización de minutas -->
                        <div class="row m-3">
                            <div class="card m-1">
                                <div class="card-body">
                                    <div class="d-grid"> <!-- Componente agarre todo el ancho -->
                                        <button type="submit" class="btn btn-login-color text-black">Minuta 1</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card m-1">
                                <div class="card-body">
                                    <h2>Minuta 1</h2>
                                </div>
                            </div>
                            <div class="card m-1">
                                <div class="card-body">
                                    <h2>Minuta 1</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            
        <!-- Columna derecha -->
        <div class="col-lg-4 mb-3">
            <div class="container">
                <div class="row ">
                    <div class="col alto-100 border border-dark m-2 bg-info">
                        <h2 class="m-2 px-4 text-center">Insumoss</h2>
                        <div class="d-flex justify-content-center">
                            <input type="text" class="rounded-3">
                            <div class="ps-3">
                                <!-- Boton buscar -->
                                <button type="button" class="btn btn-secondary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                    </svg>
                                </button>
                            </div>
                            <div class="ps-3">
                                <!-- Boton agregar -->
                                <button type="button" class="btn btn-secondary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                                    </svg>
                                </button>
                            </div>
                        </div> 
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
</main>

