<body>
    <div class="container w-50 rounded shadow mt-5">
        <div class="row align-items-stretch">
            <div class="col fondo-login rounded-3">
                <h2 class="fe-bold text-center mb-4 pt-3 fw-bold">Minnu</h2>
                <h3 class="fe-bold text-center mb-4 pt-3">Bienvenido</h3>
                <!-- Login -->
                <form action="#" class="fw-semibold">
                    <div class="mb-4">
                        <label for="email" class="form-label">Correo electronico</label>
                        <input type="email" class="form-control" name="email" placeholder="Ejemplo@gmail.com">
                    </div>
                    <div class="mb-4">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Contraseña">
                    </div>
                    <div class="mb-4 form-check">
                        <input type="checkbox" name="connected" id="" class="form-check-input">
                        <label for="connected" class="form-check/label">Mantener sesion abierta</label>
                    </div>
    
                    <div class="d-grid"> <!-- Componente agarre todo el ancho -->
                        <button type="submit" class="btn btn-login-color text-white">Iniciar Sesión</button>
                    </div>
    
                    <div class="my-3">
                        <span>No tienes cuenta? <a href="#">Crear cuenta</a></span> <br>
                        <span>Olvidaste tu constraseña? <a href="#">Recuperar password</a></span>
                    </div>
    
                </form>
            </div>
        </div>
    </div>
</body>