/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

$color-body:#E0DFE4;
$color-container: #F2F1F5;

html,body{
    height: 100% !important;
}

.alto-100 {
    height:100vh
}

body {
    background-color: $color-body;
}

.color-container{
    background-color: $color-container;
}

